<div class="rounded">

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">JoinedOn</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user?.id}}</td>
                    <td>{{user?.email}}</td>
                    <td>{{user?.password}}</td>
                    <td>{{user?.fullname}}</td>
                    <td>{{user?.joinedOn | date : 'yyyy-MM-dd'}}</td>
                    <!-- this data shows if the Edit button is clicked -->
                    <td *ngIf="enableEdit">
                        <form (ngSubmit)="updateUser()">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input [(ngModel)]="updateduser.email" name="email" type="email" class="form-control"
                                    id="email" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input [(ngModel)]="updateduser.password" name="password" type="password"
                                    class="form-control" id="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="Fullname">Fullname</label>
                                <input [(ngModel)]="updateduser.fullname" name="fullname" type="Fullname"
                                    class="form-control" id="Fullname" placeholder="Fullname">
                            </div>
                            <div class="form-group">
                                <label for="joinedOn">JoinedOn</label>
                                <input [(ngModel)]="updateduser.joinedOn" name="joinedOn" type="joinedOn" class="form-control" id="joinedOn"
                                    placeholder="JoinedOn">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </td>
                    <td><button *ngIf="enableEdit" (click)="enableEdit=false"
                            class="btn page-secondary-action-btn">Cancel</button></td>
                    <td><button class="table-row-action edit-action" *ngIf="!enableEdit"
                            (click)="enableEditMethod($event)">
                            Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="rounded">

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">UserId</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">ExpDate</th>
                    <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expenditure of user?.expenditures">
                    <td>{{expenditure?.id}}</td>
                    <td>{{expenditure?.userId}}</td>
                    <td>{{expenditure?.amount}}</td>
                    <td>{{expenditure?.description}}</td>
                    <td>{{expenditure?.expDate | date : 'yyyy-MM-dd'}}</td>
                    <td>{{expenditure?.remarks}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="rounded">

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">UserId</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">IncomeDate</th>
                    <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let income of user?.incomes">
                    <td>{{income?.id}}</td>
                    <td>{{income?.userId}}</td>
                    <td>{{income?.amount}}</td>
                    <td>{{income?.description}}</td>
                    <td>{{income?.incomeDate | date : 'yyyy-MM-dd'}}</td>
                    <td>{{income?.remarks}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>