<div class="rounded">

    <!-- the user section -->
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">JoinedOn</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user?.id}}</td>
                    <td>{{user?.email}}</td>
                    <td>{{user?.password}}</td>
                    <td>{{user?.fullname}}</td>
                    <td>{{user?.joinedOn | date : 'yyyy-MM-dd'}}</td>
                    <!-- this data shows if the Edit button is clicked -->
                    <td *ngIf="enableEdit">
                        <form (ngSubmit)="updateUser()">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input [(ngModel)]="updateduser.email" name="email" type="email" class="form-control"
                                    id="email" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input [(ngModel)]="updateduser.password" name="password" type="password"
                                    class="form-control" id="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="Fullname">Fullname</label>
                                <input [(ngModel)]="updateduser.fullname" name="fullname" type="Fullname"
                                    class="form-control" id="Fullname" placeholder="Fullname">
                            </div>
                            <div class="form-group">
                                <label for="joinedOn">JoinedOn</label>
                                <input [(ngModel)]="updateduser.joinedOn" name="joinedOn" type="joinedOn"
                                    class="form-control" id="joinedOn" placeholder="JoinedOn">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </td>
                    <td><button *ngIf="enableEdit" (click)="enableEdit=false"
                            class="btn page-secondary-action-btn">Cancel</button></td>
                    <td><button class="table-row-action edit-action" *ngIf="!enableEdit" (click)="enableEditMethod()">
                            Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- this toggle button shows/hides the addexpenditure form -->
<div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="addcheckedexpenditure"> AddExpenditure
    </label>
</div>

<!-- addexpenditure form -->
<form *ngIf="addcheckedexpenditure == true" (ngSubmit)="addExpenditure()">
    <div class="form-group">
        <label for="amount">Amount</label>
        <input [(ngModel)]="expenditure.amount" name="amount" type="amount" class="form-control" placeholder="Amount">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input [(ngModel)]="expenditure.description" name="description" type="description" class="form-control"
            placeholder="Description">
    </div>
    <div class="form-group">
        <label for="expDate">ExpDate</label>
        <input [(ngModel)]="expenditure.expDate" name="expDate" type="exDdate" class="form-control"
            placeholder="ExpDate">
    </div>
    <div class="form-group">
        <label for="remarks">Remarks</label>
        <input [(ngModel)]="expenditure.remarks" name="remarks" type="remarks" class="form-control"
            placeholder="Remarks">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>

<div class="rounded">

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">UserId</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">ExpDate</th>
                    <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expenditure of user?.expenditures; index as i;">
                    <td>{{expenditure?.id}}</td>
                    <td>{{expenditure?.userId}}</td>
                    <td>{{expenditure?.amount}}</td>
                    <td>{{expenditure?.description}}</td>
                    <td>{{expenditure?.expDate | date : 'yyyy-MM-dd'}}</td>
                    <td>{{expenditure?.remarks}}</td>
                    <!-- this data shows if the Edit button is clicked -->
                    <td *ngIf="enableEditExpenditure && enableEditIndexExpenditure == i">
                        <form (ngSubmit)="updateExpenditure(expenditure.id, expenditure.userId)">
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input [(ngModel)]="updatedexpenditure.amount" name="amount" type="amount"
                                    class="form-control" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input [(ngModel)]="updatedexpenditure.description" name="description"
                                    type="description" class="form-control" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <label for="expDate">ExpDate</label>
                                <input [(ngModel)]="updatedexpenditure.expDate" name="expDate" type="expDate"
                                    class="form-control" placeholder="ExpDate">
                            </div>
                            <div class="form-group">
                                <label for="remarks">Remarks</label>
                                <input [(ngModel)]="updatedexpenditure.remarks" name="remarks" type="remarks"
                                    class="form-control" placeholder="Remarks">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </td>
                    <td><button *ngIf="enableEditExpenditure && enableEditIndexExpenditure == i"
                            (click)="enableEditExpenditure=false" class="btn page-secondary-action-btn">Cancel</button>
                    </td>
                    <td><button class="table-row-action edit-action" *ngIf="!enableEditExpenditure"
                            (click)="enableEditMethodExpenditure(i)">
                            Edit</button></td>
                    <td><button type="submit" class="btn btn-primary"
                            (click)="deleteExpenditure(expenditure.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<!-- this toggle button shows/hides the addincome form -->
<div class="btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="addcheckedincome"> AddIncome
    </label>
</div>

<!-- addincome form -->
<form *ngIf="addcheckedincome == true" (ngSubmit)="addIncome()">
    <div class="form-group">
        <label for="amount">Amount</label>
        <input [(ngModel)]="income.amount" name="amount" type="amount" class="form-control" placeholder="Amount">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input [(ngModel)]="income.description" name="description" type="description" class="form-control"
            placeholder="Description">
    </div>
    <div class="form-group">
        <label for="expDate">IncomeDate</label>
        <input [(ngModel)]="income.incomeDate" name="incomeDate" type="incomeDate" class="form-control"
            placeholder="IncomeDate">
    </div>
    <div class="form-group">
        <label for="remarks">Remarks</label>
        <input [(ngModel)]="income.remarks" name="remarks" type="remarks" class="form-control"
            placeholder="Remarks">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>


<div class="rounded">

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">UserId</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">IncomeDate</th>
                    <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let income of user?.incomes; index as i;">
                    <td>{{income?.id}}</td>
                    <td>{{income?.userId}}</td>
                    <td>{{income?.amount}}</td>
                    <td>{{income?.description}}</td>
                    <td>{{income?.incomeDate | date : 'yyyy-MM-dd'}}</td>
                    <td>{{income?.remarks}}</td>
                    <!-- this data shows if the Edit button is clicked -->
                    <td *ngIf="enableEditIncome && enableEditIndexIncome == i">
                        <form (ngSubmit)="updateIncome(income.id, income.userId)">
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input [(ngModel)]="updatedincome.amount" name="amount" type="amount"
                                    class="form-control" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input [(ngModel)]="updatedincome.description" name="description"
                                    type="description" class="form-control" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <label for="expDate">IncomeDate</label>
                                <input [(ngModel)]="updatedincome.incomeDate" name="incomeDate" type="incomeDate"
                                    class="form-control" placeholder="IncomeDate">
                            </div>
                            <div class="form-group">
                                <label for="remarks">Remarks</label>
                                <input [(ngModel)]="updatedincome.remarks" name="remarks" type="remarks"
                                    class="form-control" placeholder="Remarks">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </form>
                    </td>
                    <td><button *ngIf="enableEditIncome && enableEditIndexIncome == i"
                            (click)="enableEditIncome=false" class="btn page-secondary-action-btn">Cancel</button>
                    </td>
                    <td><button class="table-row-action edit-action" *ngIf="!enableEditIncome"
                            (click)="enableEditMethodIncome(i)">
                            Edit</button></td>
                    <td><button type="submit" class="btn btn-primary"
                            (click)="deleteIncome(income.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>